body {
	background: #BABABA;
}

* {
	font-family: sans-serif;
}

.container {
	margin: 0 auto;
}

#logo {
	margin: 0 auto;
	display: block;
}

#app {
	width: 810px;
	height: 600px;
	margin: 10px auto;
}

#log {
	background: #222;
	margin: 10px auto;
	width: 790px;
	padding: 10px;
	height: 100px;
	overflow-y: auto;
	color: #fff;
}

#instructions {
	margin: 0 auto;
	width: 770px;
	padding: 20px;
	background: #fff;
}